@model PriceList.Models.ListModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div>
    <button type="button" class="btn btn-default">Add to list</button>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Product
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach(var item in Model.Items)
            {
            <tr>
                <td>
                    @Html.DisplayTextFor(x => item)
                </td>
            </tr>
            }
        </tbody>
    </table>
    
</div>

