@model PriceList.Models.ListModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@using (Html.BeginForm("List", "List"))
{
    <div>
        <button type="submit" class="btn btn-default">Add to list</button>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                </tr>
            </thead>
            <tbody>
            @for(var i = 0; i < Model.Items.Count; i++)
                {
                <tr>
                    <td>
                        @Html.EditorFor(x => Model.Items[i])
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}




